<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initi+-+al-scale=1, shrink-to-fit=no"/>

    <title>The Learning platform</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 <!--- jquery and dragabbles -!-->
 <script type="text/javascript" src="whiteboard-master/public/js/libs/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="whiteboard-master/public/js/libs/jquery-ui.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!--- For icons -!-->
 <script type="text/javascript" src="whiteboard-master/public/js/libs/fontawseome5.8.1.min.js"></script>
 <!--- Socket connection -!-->
 <script type="text/javascript" src="whiteboard-master/public/js/libs/socketio2.0.4.min.js"></script>
 <!--- Colorpicker -!-->
 <script type="text/javascript" src="whiteboard-master/public/js/libs/jqColorPicker.min.js"></script>
 <!--- For keybindings -!-->
 <script type="text/javascript" src="whiteboard-master/public/js/libs/keymage.min.js"></script>

 <script type="text/javascript" src="whiteboard-master/public/js/keybinds.js"></script>
 <script type="text/javascript" src="whiteboard-master/public/js/whiteboard.js"></script>
 <script type="text/javascript" src="whiteboard-master/public/js/main.js"></script>

 <!--- CSS References -!-->
 <link rel="stylesheet" href="whiteboard-master/public/css/jquery-ui.min.css">
 <link href="whiteboard-master/public/css/main.css" rel="stylesheet">


    <link rel="stylesheet" href="style.css">

</head>
<style>
  footer {
  text-align: center;
  padding: 3px;
  width: auto;
  background-color: #800080;
  color: white;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background:white;
  color:#800080;
}
.fa-twitter{
  background:white;
  color:#800080;
}
.fa-linkedin{
  background:white;
  color:#800080;
}
.fa-youtube{
  background:white;
  color:#800080;
}

.topnav-right {
  float: right;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:#800080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {

  color:#800080;
}
</style>
<body style="background-color:white;">
  <div class="topnav">
    <a class="active" href="index.html" style="font-weight: bold;">Home</a>
    <a href="course.html" style="font-weight: bold;">Courses</a>
    <div class="topnav-right">
      <a href="forum.html" style="font-weight: bold;">Forums</a>
      <a href="login.html" style="font-weight: bold;">Login</a>
    </div>
  </div>


  
  <h2 style="color:#800080; font-weight:bold; text-align:center;font-family: Verdana, Geneva, Tahoma, sans-serif;">White board</h2>
  <iframe width="100%" height="650px" src="https://awwapp.com/b/uiloajvafmwrz/"></iframe>
                  
                   
</li>
    </ul>
  </nav>

  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content text-center">

              <h2 class="text-uppercase mt-4 mb-5" style="color:#800080;"><strong>
                One Step Ahead This Season</strong>
              </h2>
              <div class="p-t-10 text-center">
              </div>
              <br>
              <div class="p-t-10 text-center">
                <button type="submit" href="course.html"style="border-color:#800080; font-size: 20px;" name="button" class="btn  w-20 text-center"><a href="course.html" style="color:#800080; font-weight: bold;">Learn more</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<h1 style="color:#800080; margin-left: 450px; font-weight: bold;">Our Expert Teachers</h1>
  <br>
  <br>
<div class="container">

  <div class="card float-right" style="width:340px">
    <img class="card-img-top" style="width:340px; height:340px;"src="https://lh3.googleusercontent.com/proxy/KK-f1kGKjg1lsv-c1jMmnUpPv_ojRxC5rKvew5F6RGOHuwrGoj8Wb_rnDLIC2jXwvpTZ_SSFU-SFwImloK533ZjIhYV2llmrvARNOnD5_NlKKzicnDeVuLudjXXo8PXcw8g1eG2p8nAaUBfd" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title" style="color: #800080;font-weight: bold; text-align: center;">Miss.Sugi</h4>
      <p class="card-text" style="color: #800080;">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" style="background-color: #800080;"class="btn btn-primary">See Profile</a>
    </div>
  </div>

  <div class="card float-right" style="width:340px">
    <img  class="card-img-top"  style="width:340px; height:340px;" src="https://atozhairstyles.com/wp-content/uploads/2016/10/Business-Haircuts.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title" style="color: #800080;font-weight: bold; text-align: center;">Mr.John</h4>
      <p class="card-text"  style="color: #800080;">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" style="background-color: #800080;" class="btn btn-primary">See Profile</a>
    </div>
  </div>

  <div class="card float-right" style="width:340px">
    <img class="card-img-top"  style="width:340px; height:340px;" src="https://www.magentaphoto.com/en/wp-content/uploads/sites/3/2016/07/corporate_business_photography_01.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title"  style="color: #800080;font-weight: bold;text-align: center;">Miss.Tharshi</h4>
      <p class="card-text"  style="color: #800080;">Some example text some example text. John Doe is an architect and engineer</p>
      <a href="#" style="background-color: #800080;" class="btn btn-primary">See Profile</a>
    </div>
  </div>

<br>
<br>
<br>
<br>

 <h1 style="color: #800080;text-align: center;font-weight: bold; margin-top: 100px;"> Sources</h1>
 <br>
 <br>
  <ul class="list-inline">
    <li  class="list-inline-item">
      <img style="height: 100px; width: 100px; color: #800080; margin-left: 200px;"src="https://www.drpaulfroomes.com.au/wp-content/uploads/2018/06/pdfdownload-icon.png">
<br>
      <h3 style="color: #800080; font-weight:bold; margin-left: 190px;">pdf notes</h3>
    </li>
    <li  class="list-inline-item">
      <img style="height: 100px; width: 100px; color: #800080; margin-left: 230px;"src="https://getdrawings.com/free-icon/youtube-share-icon-60.png">
      <br>
      <h3 style="color: #800080; font-weight:bold; margin-left: 180px;"><a href="video.html">Video Tutorials</a></h3>
    </li>
    <li  class="list-inline-item">
      <img style="height: 100px; width: 100px; color: #800080; margin-left: 200px;"src="https://lh3.googleusercontent.com/proxy/lp0IkZpoyRtrvuJXRZ21sde4Rs1xcZ7xEpHvPwNUr7FjB3zgfq7vUzBBcJsUb-XnfUJAixZzCmNnh_8jPHtWmoP5PJc">
      <br>
      <h3 style="color: #800080; font-weight:bold; margin-left: 170px;">Exam Papers</h3>
    </li>
</ul>
</div>
<br>
<br>
<section>
<footer>
  <div>
  <p>All Rights Reserved<br>
  <a href="">tharshika.balachandran98@gmail.com</a></p>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-youtube"></a>
</div>
</footer>
</section>
  <script>
$(document).ready(function() {
$(".btn").click(function() {
  $("#test1").show();
});
});
</script>
</body>
</html>
